@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



a {
    color: inherit; /* Наследовать цвет от родительского элемента */
    text-decoration: none; /* Убираем подчеркивание */
}

.container {
    max-width: 1796px;
    margin: auto;
    padding: 0 15px;
}

:root {
    --primary: rgba(123, 97, 255, 1);
    --primary2: rgba(145, 124, 255, 1);
    --secondary: rgba(128, 133, 139, 1);
    --dark: rgba(36, 36, 38, 1);
    --graphite: rgba(50, 53, 55, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --green: rgba(0, 163, 64, 1);
    --light: rgba(149, 161, 176, 1);

    --semiBold: 600;
    --medium: 500;
}

body{
    font-family: "Exo 2", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.primary{
    color:var(--primary);
}

.bg-primary{
    background-color: var(--primary);
}

.primary2{
    color:var(--primary2);
}

.bg-primary2{
    background-color: var(--primary2);
}

.secondary{
    color: var(--secondary);
}

.bg-secondary{
    background-color: var(--secondary);
}

.dark{
    color: var(--dark);
}

.bg-dark{
    background-color: var(--dark);
}

.graphite{
    color: var(--graphite);
}

.bg-graphite{
    background-color: var(--graphite);
}

.black{
    color: var(--black);
}

.bg-black{
    background-color: var(--black);
}

.white{
    color: var(--white);
}

.bg-white{
    background-color: var(--white);
}